.btn-success{
    /* color: purple; */
}

.big-text{
    text-transform: uppercase;
<<<<<<< HEAD
}
img{
    height: 200px;
    width: 200px;
}
h3{
    text-align: center;
=======
>>>>>>> 2df32bd0f9bd5810094111a37c942495baae680c
}