<h2>Users</h2>
<!-- [] is the property of the DOM element or component you want to bind to. -->
<button (click)="addUser({firstname:'Mary', lastName:'Jackson', isActive:true})" class="btn btn-block mt-4 mb-4" [disabled]="!enableAdd" >Add New User</button>

<!-- defining a template for if this is false called as noUsers -->
<!-- <ul *ngIf="users.length >0;else noUsers"> -->

<ul class="list-unstyled" *ngIf="loaded && users?.length">
    <li class="card card-body mb-3" *ngFor=" let user of users " [class.bg-light]="user.isActive">


                <h3>{{user.firstname}} {{user.lastName}} <small *ngIf="user.age && user.address"><button class="btn btn-dark btn-sm" (click)="toggleHide(user)"><i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'" class="fa fa-plus"></i></button></small> </h3>

                <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
                    <li class="list-group-item">Age: {{user.age}}</li>
                    <li class="list-group-item">Address: {{user.address.street}}{{user.address.city}}, {{user.address.state}}</li>
                    <li class="list-group-item">Joined on: {{user.registered | date :"fullDate"}}</li>

                </ul>
    </li>
</ul> 
<h4 *ngIf="users?.length==0">No Users Found.</h4>
<!-- can add some spinners -->
<h4 *ngIf="!loaded">Loading Users...</h4>